<div class="">
    <!-- <app-widget-area></app-widget-area> -->
     <!-- <app-mychart></app-mychart> -->
      <!-- <app-secondchart></app-secondchart> -->
       <app-apicharts></app-apicharts>
</div>

<mat-divider></mat-divider>

<div class="">
    <div class="">Line Chart</div>
    <div class="">Line Chart</div>
    <div class="">Line Chart</div>
    <div class="">Line Chart</div>
    <div class="">Line Chart</div>
</div>

<mat-divider></mat-divider>

<div class="">
    <div>Table</div>
    <div>Pie Chart</div>
</div>